.card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #aa2222;
}

.card:hover {
    background-color: #ca3c3c;
    transition: background-color 0.2s ease;
}

.card button {
    cursor: pointer;
}

#cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 4em; 
}

h3 {
    text-align: center;
    font-size: 1em; 
}

#cards h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 10px 0;
}